@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Archivo', sans-serif;
}

.back-img {
  background-image: url('/img/porcinos-fondo.svg');
  background-position: top;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.linear {
  background: linear-gradient(
    to right,
    rgb(190, 24, 93),
    rgb(236, 72, 153),
    rgb(190, 24, 93)
  );
}

.back {
  background: linear-gradient(350deg, #de5b94, #c50839, black);
  background-image: linear-gradient(
    350deg,
    rgb(222, 91, 148),
    rgb(197, 8, 57),
    black
  );
}
